[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-flask = "*"
pylint = "*"

[packages]
flask = "*"
dynaconf = "*"
flask-mongoengine = "*"
flask-restful = "*"
flask-jwt-extended = "*"
uwsgi = "*"

[requires]
python_version = "3.7"
